@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap"
@import "compass/css3"

.activate

	margin-top: 10px
	

	h3
		color: #d99725
		font-family: "GothamRound Bold"
		text-transform: uppercase 

	p
		font-family: "GothamRound Book"
		font-size: 1.5em
		color: #494949
		margin-bottom: 20px

	form
		label
			font-family: "GothamRound Book"
			text-transform: uppercase
			font-size: 1.2em
		input
			+box-shadow(inset 1px 1px 10px rgba(0, 0, 0, 0.22))
			
	@media (max-width: $screen-xs)
		p
			font-size: 1.1em

		form
			label
				text-align: center
				font-size: 1em
				font-weight: bold