@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap'

.sidebar
	position: fixed
	top: 0
	bottom: 0
	left: 0
	z-index: 1000
	display: block
	padding: 20px
	overflow-x: hidden
	overflow-y: auto
	background-color: #f5f5f5
	border-right: 1px solid #eee

	ul.nav.nav-sidebar
		margin-left: -20px
		margin-right: -21px
		margin-top: -20px
		padding-top: 40px

		li
			position: relative
			display:  block

			&.active a
				background-color: $btn-primary-bg
				color: $btn-primary-color

.content
	.table
		margin-bottom: 0

	.addMatch
		padding: 20px
