/* === FONTS === */
@mixin font-face($font-name, $font-file, $svg-name, $woff-uri, $ttf-uri) {
  @font-face {
    font-family:        $font-name;
    src:                font-url($font-file + ".eot");
    src:                $woff-uri format('woff'),
                        font-url($font-file + ".eot?#iefix") format("embedded-opentype"),
                        $ttf-uri format("truetype"),
                        font-url($font-file + ".svg#" + $svg-name) format("svg");
    font-weight:        normal;
    font-style:         normal;
} }




@font-face {
    font-family: 'GothamRound Bold';
    src: url('/fonts/gotham-rn-bold-webfont.eot');
    src: url('/fonts/gotham-rn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-rn-bold-webfont.woff') format('woff'),
         url('/fonts/gotham-rn-bold-webfont.ttf') format('truetype'),
         url('/fonts/gotham-rn-bold-webfont.svg#gotham_roundedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'GothamRound Book';
    src: url('/fonts/gotham-rn-book-webfont.eot');
    src: url('/fonts/gotham-rn-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-rn-book-webfont.woff') format('woff'),
         url('/fonts/gotham-rn-book-webfont.ttf') format('truetype'),
         url('/fonts/gotham-rn-book-webfont.svg#gotham_roundedbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'GothamRound Medium';
    src: url('/fonts/gotham-rn-light-webfont.eot');
    src: url('/fonts/gotham-rn-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-rn-light-webfont.woff') format('woff'),
         url('/fonts/gotham-rn-light-webfont.ttf') format('truetype'),
         url('/fonts/gotham-rn-light-webfont.svg#gotham_roundedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_roundedmedium';
    src: url('/fonts/gotham-rn-medium-webfont.eot');
    src: url('/fonts/gotham-rn-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham-rn-medium-webfont.woff') format('woff'),
         url('/fonts/gotham-rn-medium-webfont.ttf') format('truetype'),
         url('/fonts/gotham-rn-medium-webfont.svg#gotham_roundedmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin app-font($type: null) {
  $font-name: "AvantGardeLT Book";
  @if $type == "bold" {
    $font-name: "AvantGardeLT Bold";
  } @else if $type == "italic" {
    $font-name: "AvantGardeLT Italic";
  } @else if $type == "bold|italic" or $type == "italic|bold" {
    $font-name: "AvantGardeLT BoldItalic";
  } @else if $type == "gothambold" {
    $font-name: "Gotham Bold";
  } @else if $type == 'gothamrndbold' {
  	$font-name: 'GothamRound Bold';
  } @else if $type == 'gothamrndlight' {
  	$font-name: 'GothamRound Light';
  }
  font-family: $font-name;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GothamRound Book";
}