@import "compass/css3"

footer
	position: fixed
	z-index: 9999
	bottom: 0
	width: 100%
	height: 40px
	padding: 0
	line-height: 3em
	color: #777
	border-top: 1px solid #e5e5e5
	background: #FEFEFE
	+box-shadow(inset 0 1px 9px rgba(0, 0, 0, 0.36))

	&.ishub
		position: absolute !important

	a
		color: #7e7e7e
