.rules
	background: #eaddc0
	font-family: "GothamRound Light"
	font-size: .9em
	padding: .3em
	text-align: justify
	border-radius: 4px
	margin-top: 30px

	h4
		font-family: "GothamRound Bold"
		text-transform: uppercase

