@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap"
@import "compass/css3"
@import "font"

.header

	position: relative
	height: 180px
	+background(image-url('/images/header-ball.png') no-repeat, image-url('/images/wc-logo-en.png') no-repeat ,linear-gradient(#d2a044, #e8c222))
	-webkit-background-position: 3% center, 94% center
	-moz-background-position: 3% center, 94% center
	-ms-background-position: 3% center, 94% center
	-o-background-position: 3% center, 94% center
	background-position: 3% center, 94% center
	-webkit-background-size: auto, 15%
	background-size: auto, 15%

	.title
		left: 11%
		top: 60px
		position: absolute
		width: 200px
		+app-font('gothamrndbold')
		font-size: 2em
		color: white
		line-height: 1.2em

	ul.nav.navbar-nav
		width: 100%
		position: absolute
		bottom: 0
		+translateY(100%)

		li
			width: 25%
			float: left
			> a
				border-radius: 0
				border: 1px solid white

	@media (max-width: $screen-xs)
		-webkit-background-size: 13%, 30%, contain
		background-size: 13%, 30%, contain
		height: 100px

		.title
			top: 50%
			+translateY(-50%)
			font-size: 1.1em
			line-height: 1.4em
			left: 20%
			width: 40%

		ul.nav.navbar-nav
			min-height: 70px
			li, a
				min-height: 70px

			a
				padding: 0
				font-size: .9em
				padding-top: 55px

				img
					position: absolute
					height: 33px
					top: 17%
					+translateX(-50%)
					left: 50%

