@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap"
@import "compass/css3"

.hidden-ipad
	@media (min-device-width: 768px) and (max-device-width: 1024px)
		dispaly: none !important

html, body
	height: 100%

@media (max-width: $screen-xs)
	body
		overflow: hidden

body:not(.pronostic)
	+background(image-url('/images/hub-bg.png') repeat-y)
	-webkit-background-size:  cover
	background-size:  cover
	-webkit-background-position: center
	-moz-background-position:center
	-ms-background-position: center
	-o-background-position:  center
	background-position: center
	behavior: url(/images/PIE.htc)


	.container
		+background(image-url('/images/wc-logo-red.png') no-repeat)
		-webkit-background-size: 30%
		background-size: 30%
		-webkit-background-position: center 5%
		-moz-background-position: center 5%
		-ms-background-position: center 5%
		-o-background-position: center 5%
		background-position: center 5%
		padding-bottom: 0
		behavior: url(/images/PIE.htc)

	@media (max-width: $screen-xs)
		padding-bottom: 10%
		.container
			+background(none)
			height: 95%

			.red-logo
				margin-top: 30px
				img
					height: 100px

.hub-title
	margin-top: 20%
	font-size: 1.4em
	color: #858584

	span.fan
		font-family: "GothamRound Bold"
	span.fancup
		font-family: "GothamRound Bold"
		color: #b91a2f
	span.prize
		font-family: "GothamRound Bold"

	@media (max-width: $screen-xs)
		font-size: 1em
		margin-top: 20px
		span.fancup
			display: block

.footer-note
	padding-top: 10%
	font-size: .9em
	position: relative !important
	// width: 40% !important
	bottom: 0%
	a
		color: black
		font-weight: bold
		text-decoration: underline

	@media (max-width: $screen-xs)
		position: relative !important

.hub-footer
	width: 100%
	margin-top: 10%
	img
		width: 100%

.hub
	// background: aquamarine
	padding: 20px 0 20px 0
	+background(image-url('/images/hub-drop-shadow.png') no-repeat)
	-webkit-background-size: auto 100%
	background-size: auto 100%
	-webkit-background-position: 50%
	-moz-background-position: 50%
	-ms-background-position: 50%
	-o-background-position: 50%
	background-position: 50%
	behavior: url(/images/PIE.htc)

	@media (max-width: $screen-xs)
		+background(none)

	.hero2
		img
			width: 100%
			&.stadium
				+box-shadow(7px 4px 35px rgba(0, 0, 0, 0.11))
				behavior: url(/images/PIE.htc)
		.description
			padding-left: 0
		.marketing
			margin-top: 1em

		@media (max-width: $screen-xs)
			padding: 0
			img
				margin-top: 2em
			.marketing
				p
					margin-top: 20px
					font-size: .9em

	

	.hero
		+background(linear-gradient(left, transparent 12%, #9a9a9a 55%))
		margin-top: 3%
		padding-right: 1%
		background-clip: content-box
		height: 100%
		behavior: url(/images/PIE.htc)


		p
			margin-top: 0
			margin-bottom: 0
			padding-left: 45%
			text-align: left
			line-height: .9em
			+text-shadow(1px 1px 8px rgba(0, 0, 0, 0.31))

			&:first-child
				color: white
				font-family: "GothamRound Medium"
				font-size: 2em
				margin-top: .7em

			&:nth-child(2)
				color: white
				font-family: "GothamRound Book"
				font-size: 1.85em

			&:nth-child(3)
				color: #b91a2f
				font-family: "GothamRound Bold"
				font-size: 3.5em
				padding-left: 44%

			&:nth-child(4)
				color: #b91a2f
				font-family: "GothamRound Medium"
				font-size: 2.6em
				padding-left: 44%
				letter-spacing: .1em

			&:nth-child(5)
				color: white
				font-family: "GothamRound Book"
				font-size: 1.85em
				word-spacing: .3em

			&:nth-child(6)
				color: white
				font-family: "GothamRound Medium"
				font-size: 1.4em
				line-height: 1.3em
				margin-bottom: .7em

	.games
		.btn
			padding: 0.9em 1.4em 0em 3.8em
			min-height: 4.4em
			margin-top: .2em
			margin-bottom: .2em
			behavior: url(/images/PIE.htc)
			p
				margin-bottom: 0
				letter-spacing: .05em
				font-size: .8em
			h3, h4
				font-family: "GothamRound Bold"
				margin-top: 0

			&:first-child
				+background(image-url('/images/hub-battle-logo.png') no-repeat, image-url('/images/right-caret.png') no-repeat ,linear-gradient(top, #961224, #b81a2f))
				behavior: url('/images/PIE.htc')
				-webkit-background-position: 5% center, 97% center
				-moz-background-position: 5% center, 97% center
				-o-background-position: 5% center, 97% center
				background-position: 5% center, 97% center
				-webkit-background-size: 14%, 4% ,contain
				background-size: 14%, 4% ,contain
				border: none

			&:nth-child(2)
				+background(image-url('/images/hub-foot-logo.png') no-repeat, image-url('/images/right-caret.png') no-repeat ,linear-gradient(top, #cd6525, #c73c24))
				-webkit-background-position: 5% center, 97% center
				-moz-background-position: 5% center, 97% center
				-ms-background-position: 5% center, 97% center
				-o-background-position: 5% center, 97% center
				background-position: 5% center, 97% center
				-webkit-background-size: 16%, 4% ,contain
				background-size: 16%, 4% ,contain
				border: none

			&:nth-child(3)
				p
					font-size: .7em

				+background(image-url('/images/header-ball.png') no-repeat, image-url('/images/right-caret.png') no-repeat ,linear-gradient(top, #d99625, #e8c322))
				-webkit-background-position: 5% center, 97% center
				-moz-background-position: 5% center, 97% center
				-ms-background-position: 5% center, 97% center
				-o-background-position: 5% center, 97% center
				background-position: 5% center, 97% center
				-webkit-background-size: 13%, 4% ,contain
				background-size: 13%, 4% ,contain
				border: none

			&.disabled
				+background(linear-gradient(top, #bbbbbb, #727272))
				padding-left: 0
				h4
					margin-bottom: 0px
				p
					font-size: .9em

		@media (max-width: $screen-xs)
			padding-left: 0
			padding-right: 0

			.btn
				font-size: 1em
				&:first-child
					p
						font-size: .9em
					h3
						font-size: 1.3em

				&:nth-child(2)
					p
						font-size: .9em
					h3
						font-size: 1.4em

				&:nth-child(3)
					font-size: .9em
					p
						font-size: .9em
					h4
						font-size: 1.1em
						line-height: 1.5em

	.gifts
		img
			margin-top: 10px

		.rank
			overflow: hidden
			position: relative
			font-family: "GothamRound Book"
			font-size: .9em
			border: 1px solid #b91a2f
			border-radius: 100%
			width: 30px
			height: 30px
			line-height: 2.4em
			margin-right: auto
			margin-left: auto
			+box-shadow(inset 1px 1px 20px rgba(0, 0, 0, 0.1))

			sup
				position: absolute
				top: 26%
				left: 26%

			span
				display: block
				left: 10px
				position: absolute
				top: 3px

		.title
			margin-top: 20px
			font-family: "GothamRound Bold"
			font-size: .9em
			color: #b91a2f

		.first .title
			color: lighten(#b91a2f, 2%)

		.last
			.rank
				width: 27px
				height: 27px
				font-size: .8em
				display: inline-block

				&:nth-child(2)
					float: left
					margin-left: -3px

				&:nth-child(3)
					float: right

			.from, .to
				display: block
				position: absolute
				font-size: .5em
			.from
				left: -20px
				top: -10px
			.to
				left: 30px
				top: -10px


		@media (max-width: $screen-xs)
			img
				width: 100%
			.rank span
				top: 6px
			.third
				.rank
					margin-top: 20px
			.last
				.to
					left: 70px