$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "compass/css3/images";

@import 'font';
@import 'hub';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'admin';
@import 'activate';
@import 'pronostic';
@import 'game-rules';
@import 'signup';

@media (max-width: $screen-xs) {
    body, .container {
        overflow-x: hidden;
    }

    .container {
        padding-bottom: 1em;
    }

    .row {
        margin-left: 10px;
        margin-right: 10px;

        a.btn-wc {
            width: 100% !important;
        }
    }
}


// buttons
.btn-wc,
.btn-wc:hover,
.btn-wc:active {
    background-image: linear-gradient(#d99725, #e8c222);
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 820px;
        padding-bottom: 100px;
    }

    .container-fluid {
        margin-left: 20%;
        padding-bottom: 10%;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


