@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap"
@import compass
@import font


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none
	margin: 0

$ranking-li-height: 65px
$ranking-width: 530px
$ranking-scrollbar-width: 1px

.pronostic
	+background(image-url("bg-texture.png") repeat-y, white)
	-webkit-background-position: center 180px
	-moz-background-position: center 180px
	-ms-background-position: center 180px
	-o-background-position: center 180px
	background-position: center 180px
	-webkit-background-size: 100% 
	background-size: 100% 40px

	@media (max-width: $screen-xs)
		-webkit-background-size: 100% 100%
		background-size: 100% 100%
		-webkit-background-position: center 100px
		-moz-background-position: center 100px
		-ms-background-position: center 100px
		-o-background-position: center 100px
		background-position: center 100px

	.home

		.head
			color: #d99725
			font-family: "GothamRound Bold"

		.row:first-child
			margin-bottom: 30px
			margin-top: 50px

		.btn-wc
			width: 324px
			font-size: 2em
			text-transform: uppercase

		.blasons
			width: 391px
			height: 128px
			+background(image-url('/images/blasons.png') no-repeat 100% center)
			margin-left: auto
			margin-right: auto
			margin-top: 30px



		.gifts
			margin-top: 40px
			img
				margin-top: 30px

			.rank
				position: relative
				overflow: hidden
				font-family: "GothamRound Book"
				font-size: 1.3em
				border: 1px solid #e0ab24
				border-radius: 100%
				width: 55px
				height: 55px
				line-height: 2.4em
				margin-right: auto
				margin-left: auto
				+box-shadow(inset 1px 1px 20px rgba(0, 0, 0, 0.1))

				sup
					position: absolute
					top: 26%
					left: 38%

				span
					display: blok
					position: absolute
					left: 12px
					top: 4px

			.title
				margin-top: 40px
				font-family: "GothamRound Bold"
				font-size: 1.6em
				color: #cb9226

			.first .title
				color: #db9d28

			.last
				.rank
					width: 40px
					height: 40px
					font-size: 1.2em
					display: inline-block

					&:first-child
						float: left

					&:last-child
						float: right

					.from, .to
						display: block
						position: absolute


			@media (max-width: $screen-xs)
				.rank span
					top: 6px
				img
					width: 100%
					margin-top: 0px

		.red-logo
			height: 133px
			+background(image-url('/images/wc-logo-red.png') no-repeat)
			-webkit-background-size: contain
			background-size: contain
			-webkit-background-position: center
			-moz-background-position: center
			-ms-background-position: center
			-o-background-position: center
			background-position: center

			@media (max-width: $screen-xs)
				-webkit-background-position: center 0%
				-moz-background-position: center 0%
				-ms-background-position: center 0%
				-o-background-position: center 0%
				background-position: center 0%
				-webkit-background-size: 70%
				background-size: 70%

		.testez-logo
			height: 87px
			width: 57px
			+background(image-url('/images/golden-ball.png') no-repeat)
			-webkit-background-size: contain
			background-size: contain
			-webkit-background-position: center
			-moz-background-position: center
			-ms-background-position: center
			-o-background-position: center
			background-position: center

		.test-text
			padding: 0
			h3
				color: #d99725
				font-family: "GothamRound Book"


		.testez-text
			+app-font('gothamrndlight')
			font-size: 1.4em
			margin-top: 10px
			color: #494949

			a
				color: #7e7e7e
				font-family: "GothamRound Medium"
				text-decoration: underline
				font-style: .7em

	.rankings, .results
		.my-results
			width: 530px
			margin-left: auto
			margin-right: auto

			.head
				height: 30px

			.content
				overflow: hidden
				height: 65px
				+background(linear-gradient(left, #e1e1e1, white))
				border: 1px solid #a5a7a7
				border-radius: 2px
				font-size: 1.3em
				padding-right: $ranking-scrollbar-width

				> div
					height: 100%
					line-height: 3.6em

					&:first-child
						font-weight: bold
						color: #515151

					> img
						height: 58px
						border: 1px solid rgba(51, 51, 51, 0.8)
						margin-right: 10px
						border-radius: 4px
						margin: 4px

			@media (max-width: $screen-xs)
				width: 100%

				.head
					font-size: .5em

				.content
					font-size: 1em
					height: 55px
					img
						float: left
						height: 70% !important
						margin: 10% !important
	

	.prize
		margin-top: 100px


		.head
			h2
				color: #d99725
				font-family: "GothamRound Bold"
				margin-top: 10px
				margin-bottom: 10px
		p
			font-size: 1.8em

		.gifts
			margin-top: 40px
			img
				margin-top: 30px

			.rank
				overflow: hidden
				position: relative
				font-family: "GothamRound Book"
				font-size: 1.3em
				border: 1px solid #e0ab24
				border-radius: 100%
				width: 55px
				height: 55px
				line-height: 2.4em
				margin-right: auto
				margin-left: auto
				+box-shadow(inset 1px 1px 20px rgba(0, 0, 0, 0.1))

				sup
					position: absolute
					top: 26%
					left: 26%

				span
					display: block
					left: 20px
					position: absolute
					top: 10px

			.title
				margin-top: 40px
				font-family: "GothamRound Bold"
				font-size: 1.6em
				color: #cb9226

			.first .title
				color: #db9d28

			.third
				.rank
					margin-top: 20px

			.last
				span
					left: 15px
					top: 5px
				.rank
					width: 40px
					height: 40px
					font-size: 1.2em
					display: inline-block

					&:first-child
						float: left

					&:last-child
						float: right

					.from, .to
						display: block
						position: absolute


			@media (max-width: $screen-xs)
				.rank span
					top: 6px
				img
					width: 100%
					margin-top: 0px

	.rankings
		margin-top: 50px

		.head
			h2
				color: #d99725
				font-family: "GothamRound Bold"
				margin-top: 10px
				margin-bottom: 10px

		.ranking-list
			position: relative
			max-height: 750px
			width: 530px
			margin-left: auto
			margin-right: auto
			overflow: hidden
			background-color: #fff
			margin-top: 30px
			border: 1px solid #a5a7a7
			border-radius: 4px
			font-size: 1.3em
			background-color: white

			ul
				padding: 0
				margin: 0
				width: ($ranking-width - $ranking-scrollbar-width)

				> li
					height: $ranking-li-height
					list-style-type: none

					&:nth-child(2n+1)
						+background(linear-gradient(left, #e1e1e1, white))

					&:nth-child(2n)
						+background(linear-gradient(left, #d8d8d8, #f0f0f0))

					> div
						height: 100%
						line-height: 3.6em
						overflow: hidden

						&:first-child
							font-weight: bold
							color: #515151
						> img
							height: 58px
							border: 1px solid rgba(51,51,51,.8)
							margin-right: 10px
							border-radius: 4px
							margin: 4px

		@media (max-width: $screen-xs)
			margin-top: 100px
			.ranking-list
				width: 100%
				ul
					width: 100%



	.results
		margin-top: 50px

		
		.sections
			margin-top: 30px
			.row
				margin-bottom: 20px

			.btn-wc
				font-family: "GothamRound Bold"
				font-size: 1.2em
				margin-left: .6em
				margin-right: .6em
				padding-right: 2.6em
				padding-left: 2.6em
				border-radius: 4px
				sup
					padding-right: .3em
					text-transform: uppercase
					display: inline-block
					vertical-align: top
					padding-top: 1.1em
					padding-left: 4px
					font-size: .7em
					font-weight: 100

		.table.all-results

			@media (max-width: $screen-xs)
				tr
					margin-bottom: 30px

			td:first-child
				width: 80%


			td, tr
				border: none
				height: 60px

			thead
				font-size: 1.2em

			tbody
				td.teams
					> div.teams
						height: 45px
						+background(linear-gradient(#ffffff, #d6d6d6))
						border: 1px solid #a1a1a1
						border-radius: 10px

						.team
							display: inline-block
							@media (max-width: $screen-xs)
								padding: 0

							.flag
								width: 35px
								height: 35px
								position: absolute
								margin: 4px
								margin-left: 10px
								margin-right: 10px
								background-size: 100%
								background-repeat: no-repeat
								background-position: center

								@media (max-width: $screen-xs)
									width: 25px
									margin: 4px

	
							input[type="number"]
								width: 32px
								height: 32px
								margin: 5px
								border: 1px solid #bebfc0
								border-radius: 3px
								text-align: center
								font-family: "GothamRound Book"
								font-size: 20px
								padding-top: 2px
								+box-shadow(inset 1px 1px 10px rgba(0, 0, 0, 0.14))
								background-color: #4e4e4e
								color: white

								@media (max-width: $screen-xs)
									width: 22px
									font-size: 1em


							&:first-child
								float: left
								input
									float: right
									@media (max-width: $screen-xs)
										left: 29px
										position: absolute

								.flag
									left: 0px

							&:nth-child(2)
								float: right
								input
									float: left
									@media (max-width: $screen-xs)
										right: 29px
										position: absolute

								.flag
									right: 0px
								.name
									float: right


							.name
								font-family: "GothamRound Book"
								font-size: .9em
								line-height: 3.2em
								margin-right: 35px
								margin-left: 35px

				td.match-result
					> div
						height: 45px
						background: rgba(0,0,0,.16)
						border-radius: 4px
						font-size: 2em
						line-height: 1.8em

						.win
							font-weight: 800
				td.score
					font-size: 1.8em
					line-height: 1.8em
					font-weight: bold

					.positive
						color: #00960a
					.negative
						color: #e23a47


		
		@media (max-width: $screen-xs)
			margin-top: 100px

			.btn-wc
				width: 100%
				margin-left: 0 !important
				margin-top: 2px !important
				margin-bottom: 2px !important


	.pronostics
		margin-top: 50px

		.head
			h2
				color: #d99725
				font-family: "GothamRound Book"
				margin-top: 10px
				margin-bottom: 10px

			h2:nth-child(2)
				color: #d99725
				font-family: "GothamRound Bold"

		.pools
			margin-top: 30px
			.btn-wc
				font-family: "GothamRound Bold"
				font-size: 1.2em
				margin-left: 1.5em
				margin-right: 1.5em
				padding-right: 2em
				padding-left: 2em
				border-radius: 4px
				sup
					padding-right: .3em
					text-transform: uppercase
					display: inline-block
					vertical-align: top
					padding-top: 1.5em
					padding-left: 4px
					font-size: .7em


		.matches
			margin-top: 30px
			margin-bottom: 30px

			
			h5
				font-family: "GothamRound Book"
				text-transform: uppercase
				padding-left: 15px

			.match
				margin-top: 2px
				margin-bottom: 2px

				.datetime
					font-family: "GothamRound Book"
					font-size: 14px
					line-height: 3.2em
					padding: 0

				.teams
					height: 45px
					+background(linear-gradient(#ffffff, #d6d6d6))
					border: 1px solid #a1a1a1
					border-radius: 10px

					.team
						display: inline-block

						.flag
							width: 35px
							height: 35px
							position: absolute
							margin: 4px
							background-size: 100%
							background-repeat: no-repeat
							background-position: center

						input[type="number"]
							width: 32px
							height: 32px
							margin: 5px
							border: 1px solid #bebfc0
							border-radius: 3px
							text-align: center
							font-family: "GothamRound Book"
							font-size: 20px
							padding-top: 2px
							+box-shadow(inset 1px 1px 10px rgba(0, 0, 0, 0.14))


						&:first-child
							float: left
							input
								float: right

							.flag
								left: 0px

							.name
								left: 50px

						&:nth-child(2)
							float: right
							input
								float: left

							.flag
								right: 0px
							.name
								right: 50px


						.name
							font-family: "GothamRound Book"
							font-size: .9em
							line-height: 3.4em
							display: inline-block
							position: absolute


		.btn-wc
			margin-bottom: 40px
			line-height: 2em
			border-radius: 10px

		@media (min-width: $screen-sm) and (max-width: $screen-sm-max)
			.matches .match .team input[type="number"]
				width: 50px

		@media (max-width: $screen-xs)
			margin-top: 100px

			.head
				h2
					font-size: 1.2em

			.btn-wc
				width: 60% !important
				margin-bottom: .8em

			.matches
				.match
					padding: 0
					.teams
						padding: 0
						.team
							input[type="number"]
								width: 50px
							width: 50%
							padding: 0 
							.flag
								width: 30%
							.name
								display: none
							&:first-child
								.flag
									left: 15%
							&:nth-child(2)
								.flag
									right: 15%
				 	
