<div class="activate">
	<h3 class="text-center">{{ 'INSCRIPTION_HELLO' | translate }}</h3>
	<div class="row">
	<p class="text-center col-sm-6 col-sm-offset-3">{{ 'INSCRIPTION_REMPLISSEZ' | translate }}</p>
	</div>
	<form name="activateForm" class="form-horizontal" role="form" ng-submit="activateUser()">
		<div class="form-group">
			<label for="firstname" class="control-label col-sm-3 col-sm-offset-1">{{ 'INSCRIPTION_NOM' | translate}}</label>
			<div class="col-sm-5">
				<input required type="text" class="form-control" name="firstname" ng-model="currentUser.firstname">
			</div>
		</div>
		<div class="form-group">
			<label for="lastname" class="control-label col-sm-3 col-sm-offset-1">{{ 'INSCRIPTION_PRENOM' | translate }}</label>
			<div class="col-sm-5">
				<input required type="text" name="lastname" class="form-control" ng-model="currentUser.lastname">
			</div>
		</div>
		<div class="form-group">
			<label for="company" class="control-label col-sm-3 col-sm-offset-1">{{ 'INSCRIPTION_SOCIETE' | translate }}</label>
			<div class="col-sm-5">
				<input required type="text" name="company" class="form-control" ng-model="currentUser.company">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10 text-center">
				<div class="checkbox">
					<label>
						<input required type="checkbox">{{ 'INSCRIPTION_REGLEMENT' | translate }}
					</label>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button class="btn btn-wc text-center" type="submit">{{ 'INSCRIPTION_VALIDER' | translate }}</button>
		</div>
	</form>
</div>
