

<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li class="active"><a href="">Pronostics</a></li>
		<li><a href="">Users</a></li>
	</ul>
	<hr>
</div>

<div class="content col-sm-12 col-xs-offset-2 col-sm-offset-3 col-md-offset-0">
	<h3>Highco Admin</h3>
	<hr>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="contextName" class="col-sm-2 control-label">Contexte</label>
			<div class="col-sm-5">
				<!-- <input type="text" ng-model="prConf.context" class="form-control" id="contextName" placeholder="Journée 1, Journée 2, Quart de final ..."> -->
				<select class="form-control" ng-model="prConf.currentContext" ng-options="key as val for (key, val) in prConf.contextTypes">
					<option value="">Choisir contexte des pronostics</option>
				</select>
			</div>
		</div>
		<div ng-show="prConf.currentContext === 'pools'" class="form-group">
			<label class="control-label col-sm-2">Journée</label>
			<div class="col-sm-5">
				<select class="form-control" ng-model="prConf.currentPool">
					<option value="pool1">Match 1</option>
					<option value="pool2">Match 2</option>
					<option value="pool3">Match 3</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="matchs" class="col-sm-2 control-label">Matchs</label>
			<div class="col-sm-10">
				<div class="match">
					<table class="table">
						<tbody>
							<tr ng-repeat="m in prConf[contextPtr].matches">
								<th>
									<input ng-model="m.team1.name" class="form-control" type="text" placeholder="equipe 1">
								</th>
								<th>
									<input ng-model="m.team2.name" class="form-control" type="text" placeholder="equipe 2">
								</th>
								<th>
									<input ng-change="updateMatchDate(m)" ng-model="m.date" class="form-control" type="date" placeholder="date">
								</th>
								<th><input ng-change="updateMatchDate(m)" ng-model="m.time" class="form-control" type="time" placeholder="heure"></th>
								<th>
									<input ng-model="m.score1" type="number" min="0" placeholder="score" class="form-control">
								</th>
								<th>
									<input ng-model="m.score2" type="number" min="0" placeholder="score" class="form-control">
								</th>
								<th><a ng-click="removeMatch(g, m)" href=""><span class="glyphicon glyphicon-remove"></span></a></th>
							</tr>
						</tbody>
					</table>
					<div ng-show="showAddMatch" class="addMatch">
						<table class="table">
							<tbody>
								<thead>
									<tr>
										<th>Equipe 1</th>
										<th>Equipe 2</th>
										<th>Date</th>
										<th>Heure</th>
									</tr>
								</thead>
								<tr>
									<th>
									<!-- <input ng-model="match.team1" class="form-control" type="text" placeholder="equipe 1"> -->
									<select class="form-control" ng-model="match.team1" name="team1" ng-options="c as c.name for c in countries" id="">
										<option value="">Equipe 1</option>
									</select>
									</th>
									<th>
										<select class="form-control" name="team2" ng-model="match.team2" ng-options="c as c.name for c in countries">
											<option value="">Equipe 2</option>
										</select>
									</th>
									<th><input ng-model="match.date" class="form-control" type="date" placeholder="date"></th>
									<th><input ng-model="match.time" class="form-control" type="time" placeholder="heure"></th>
								</tr>
							</tbody>
						</table>
						<br>
						<div class="row" ng-show="prConf.currentContext === 'pools'">
							<div class="col-sm-4 col-sm-offset-3">
								<select ng-model="match.group" class="form-control">
									<option value="A">Groupe A</option>
									<option value="B">Groupe B</option>
									<option value="C">Groupe C</option>
									<option value="D">Groupe D</option>
									<option value="E">Groupe E</option>
									<option value="F">Groupe F</option>
									<option value="G">Groupe G</option>
									<option value="H">Groupe H</option>
								</select>
							</div>
						</div>
					</div>
					<br>
					<div class="text-center">
					<button ng-show="!showAddMatch" ng-click="showAddMatch = !showAddMatch; match = {}" class="btn btn-primary btn-xs">Ajouter Match</button>
					<button ng-click="addMatch(match); showAddMatch = false" ng-show="showAddMatch" class="btn btn-success btn-xs">Valider Match</button>
					<button ng-click="showAddMatch = false" ng-show="showAddMatch" class="btn btn-danger btn-xs">Annuler</button>
					</div>
					<hr>
				</div>

			</div>
		</div>
		<br><br>
		<div ng-show="saveMsg" ng-class="{'alert-error': alert === 'error', 'alert-success': alert === 'success'}" class="alert alert-dismissable col-sm-8 col-sm-offset-2">
			<button type="button" class="close" ng-click="saveMsg = null" aria-hidden="true">&times;</button>
			{{saveMsg}}
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-10">
				<button ng-click="saveConf()"  class="btn btn-primary">Sauvegarder</button>
				<button ng-click="calculateScore()"  class="btn btn-danger">Calculer les points</button>
				<button ng-show="showAddGroup" ng-click="addGroup(groupName)"  class="btn btn-success">Ajouter groupe</button>
			</div>
		</div>
	</form>

</div>