<footer class="footer">
	<div class="text-center">
		<a href="/misc/reglement.pdf" target="_blank">{{ 'FOOTER_MENTIONS' | translate }}</a>
		<span> - </span>
		<a ng-if="curLang === 'fr'" href="/misc/reglement.pdf" target="_blank">{{ 'HOME_REGLEMENT' | translate }}</a>
		<a ng-if="curLang === 'en'" href="/misc/reglement-en.pdf" target="_blank">{{ 'HOME_REGLEMENT' | translate }}</a>
		<a ng-if="curLang === 'es'" href="/misc/reglement-en.pdf" target="_blank">{{ 'HOME_REGLEMENT' | translate }}</a>
	</div>
</footer>