<div class="row signup">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Login</h1>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <form class="form" name="form" ng-submit="login(form)" novalidate>

      <div class="form-group">
        <label>ID</label>

        <input type="text" name="email" class="form-control" ng-model="user.email" required>
      </div>

      <div class="form-group">
        <label>Password</label>
        
        <input type="password" name="password" class="form-control" ng-model="user.password" required>
      </div>

      <div class="form-group has-error">
        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
           Please enter your email and password.
        </p>              
        <p class="help-block">{{ errors.other | translate }}</p>
      </div>

      <button type="submit" class="btn btn-lg btn-primary">{{'SIGNIN' | translate }} </button>
    </form>
  </div>
</div>