<div class="red-logo visible-xs text-center">
	<img src="/images/wc-logo-red.png" alt="">
</div>
<div class="row hub-title text-center">
	<p><span class="fan">{{ 'FOOT_FAN' | translate }}</span> {{ 'PARTICIPATE_IN' | translate }} <span class="fancup">HighCo FAN CUP</span> {{ 'AND_WIN' | translate }} <span class="prize">{{ 'PRIZES' | translate }}</span></p>
</div>
<div class="row hub">
	<div class="col-sm-6 hero2 hidden-xs">
		<div class="col-sm-6">
			<img class="stadium" src="/images/stadium.png" alt="">
		</div>
		<div class="col-sm-6 description">
			<p>{{ 'UNIQ_XP' | translate}} <b>{{ 'STADIUM' | translate }}</b> {{'FOR' | translate}} <b>{{'WINNER' | translate }}*</b></p>
		</div>
		<div class="col-sm-12 marketing">
			<p>{{'ALONG' | translate }} <b>{{'IPAD_MINI' | translate }}</b>, {{'DES' | translate }} <b>{{'GOPRO' | translate }}</b>, <b>{{'FITBIT' | translate }}</b> {{'AND' | translate }} <b>{{'OFFICIAL' | translate }}</b> {{'FOR' | translate}} <b>{{'TOP_TEN' | translate}}** !</b></p>
		</div>
		<div class="col-sm-12">
			<div class="gifts text-center hidden-xs">
				<img ng-if="curLang === 'en'" src="/images/prizes-pronos-en-hub.png" alt="">
				<img ng-if="curLang === 'fr'" src="/images/prizes-pronos-fr-hub.png" alt="">
				<img ng-if="curLang === 'es'" src="/images/prizes-pronos-es-hub.png" alt="">
			</div>
		</div>
	</div>
	<div class="col-sm-6 games">
		<a href="https://battles.milky.fr/battles/highco" target="_blank" class="btn btn-lg btn-primary btn-block">
			<p>{{'WHATSUPPORTER' | translate }}</p>
			<h3>{{'SELFIE' | translate }}</h3>
		</a>
		<a href="https://quiz.milky.fr/games/quizhighco" target="_blank" class="btn btn-lg btn-primary btn-block">
			<p>{{'REAL_FAN' | translate }}</p>
			<h3>{{'FOOT_QUIZ' | translate }}</h3>
		</a>
		<a href="#/pronostic/home" target="_blank" class="btn btn-lg btn-primary btn-block">
			<p>{{ 'HOME_SUBLOGO' | translate }}</p>
			<!-- <h4>FAITES VOS PRONOSTICS</h4> -->
			<h4>{{ 'MENU_LOGO' | translate }}</h4>
		</a>
<!-- 		<a href="/pronostic/home" target="_blank" class="btn btn-lg btn-primary btn-block disabled hidden-md hidden-lg">
			<h4>{{ 'MENU_LOGO' | translate }}</h4>
			<p>{{ 'SOON1' | translate }}</p>
			<p>{{ 'SOON2' | translate }}</p>
		</a>
 -->	</div>

	<!-- Mobile view -->
	<div class="col-sm-6 hero2 hidden-sm hidden-md hidden-lg">
		<div class="col-xs-6">
			<img class="stadium" src="/images/stadium.png" alt="">
		</div>
		<div class="col-xs-6 description">
			<p>{{ 'UNIQ_XP' | translate}} <b>{{ 'STADIUM' | translate }}</b> {{'FOR' | translate}} <b>{{'WINNER' | translate }}*</b></p>
		</div>
		<div class="col-sm-12 marketing">
			<p>{{'ALONG' | translate }} <b>{{'IPAD_MINI' | translate }}</b>, {{'DES' | translate }} <b>{{'GOPRO' | translate }}</b>, <b>{{'FITBIT' | translate }}</b> {{'AND' | translate }} <b>{{'OFFICIAL' | translate }}</b> {{'FOR' | translate}} <b>{{'TOP_TEN' | translate}}** !</b></p>
		</div>
		<div class="gifts text-center hidden-sm hidden-md hidden-lg">
			<img ng-if="curLang === 'en'" src="/images/prizes-pronos-en-hub.png" alt="">
			<img ng-if="curLang === 'fr'" src="/images/prizes-pronos-fr-hub.png" alt="">
			<img ng-if="curLang === 'es'" src="/images/prizes-pronos-es-hub.png" alt="">
		</div>
	</div>
</div>
<div class="footer-note col-sm-9 col-md-7 col-lg-7 ishub">
	<p>* {{'TWO_PLACES' | translate }} (<a ng-if="curLang === 'fr'" href="/misc/reglement.pdf" target="_blank">{{'SEE_RULES' | translate }}</a> <a ng-if="curLang === 'en'" href="/misc/reglement-en.pdf" target="_blank">{{'SEE_RULES' | translate }}</a> <a ng-if="curLang === 'es'" href="/misc/reglement-en.pdf" target="_blank">{{'SEE_RULES' | translate }}</a>) </p>
	<p>** <a href="/misc/reglement.pdf" target="_blank">{{'SEE_RULES' | translate }}</a> </p>
</div>

