<div class="header" ng-controller="NavbarCtrl">
	<div class="title">
		<span>{{ 'MENU_LOGO_1' | translate }}</span>
		<span>{{ 'MENU_LOGO_2' | translate }}</span>
	</div>
	<ul class="nav navbar-nav navbar-left" ng-show="isPronostic()">
		<li><a class="btn btn-wc" href="/pronostic/pronostics"><img class="hidden-sm hidden-md hidden-lg" src="/images/header-ball.png" alt="">{{ 'MENU_PRONOS' | translate }}</a></li>
		<li><a class="btn btn-wc" href="/pronostic/results"><img class="hidden-sm hidden-md hidden-lg" src="/images/results-nav-logo.png" alt="">{{ 'MENU_RESULTATS' | translate }}</a></li>
		<li><a class="btn btn-wc" href="/pronostic/ranking"><img class="hidden-sm hidden-md hidden-lg" src="/images/ranking-nav-logo.png" alt="">{{ 'CLASSEMENT' | translate }}</a></li>
		<li><a class="btn btn-wc" href="/pronostic/prize"><img class="hidden-sm hidden-md hidden-lg" src="/images/prize-nav-logo.png" alt="">{{ 'MENU_GAGNEZ' | translate }}</a></li>
	</ul>
	
</div>