<div class="home">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center">
			<div>
				<div class="col-sm-3 col-xs-3">
					<div class="testez-logo">
					</div>
				</div>
				<div class="col-sm-8 col-xs-8 test-text">
					<h3>{{'HOME_SUBLOGO' | translate }}</h3>
				</div>
			</div>
			<div class="testez-text col-sm-offset-2 col-sm-8 text-center">
				<p>{{ 'HOME_DESCRIPTION' | translate }}</p>
				<a ng-if="curLang === 'fr'" href="/misc/reglement.pdf" target="_blank">{{ 'HOME_REGLEMENT' | translate }}</a>
				<a ng-if="curLang === 'en'" href="/misc/reglement-en.pdf" target="_blank">{{ 'HOME_REGLEMENT' | translate }}</a>
				<a ng-if="curLang === 'es'" href="/misc/reglement-en.pdf" target="_blank">{{ 'HOME_REGLEMENT' | translate }}</a>
			</div> 
		</div>
	</div>
	<br>
	<div class="row text-center">
		<a ng-if="Auth.isLoggedIn()" href="/pronostic/pronostics" class="btn btn-wc">{{ 'HOME_PARTICIPEZ' | translate }}</a>
		<a ng-if="!Auth.isLoggedIn()" ng-click="fbAndLogin()" class="btn btn-wc">{{ 'HOME_PARTICIPEZ' | translate }}</a>
	</div>
	<h3 class="head text-center">{{'HOME_LOT_TITLE' | translate }}</h3>
	<p class="text-center">{{'HOME_LOT_DESCRIPTION' | translate}} *</p>
	<div class="gifts text-center hidden-xs">
			<img ng-if="curLang === 'en'" src="/images/prizes-pronos-en.png" alt="">
			<img ng-if="curLang === 'fr'" src="/images/prizes-pronos-fr.png" alt="">
			<img ng-if="curLang === 'es'" src="/images/prizes-pronos-es.png" alt="">
	</div>

	<div class="gifts text-center hidden-sm hidden-md hidden-lg">
			<img ng-if="curLang === 'en'" src="/images/prizes-pronos-en.png" alt="">
			<img ng-if="curLang === 'fr'" src="/images/prizes-pronos-fr.png" alt="">
			<img ng-if="curLang === 'es'" src="/images/prizes-pronos-es.png" alt="">
	</div>
	<div class="col-sm-12 text-center">
		<small class="text-center">
			* {{'SEE_RULES' | translate }}
		</small>
	</div>
</div>
