<div class="prize text-center">
	<p>{{'HOME_LOT_DESCRIPTION' | translate}} *</p>
	<div class="gifts text-center hidden-xs">
			<img ng-if="curLang === 'en'" src="/images/prizes-pronos-en.png" alt="">
			<img ng-if="curLang === 'fr'" src="/images/prizes-pronos-fr.png" alt="">
			<img ng-if="curLang === 'es'" src="/images/prizes-pronos-es.png" alt="">
	</div>

	<div class="gifts text-center hidden-sm hidden-md hidden-lg">
			<img ng-if="curLang === 'en'" src="/images/prizes-pronos-en.png" alt="">
			<img ng-if="curLang === 'fr'" src="/images/prizes-pronos-fr.png" alt="">
			<img ng-if="curLang === 'es'" src="/images/prizes-pronos-es.png" alt="">
	</div>
	<div class="col-sm-12 text-center">
		<small class="text-center">
			* {{'SEE_RULES' | translate }}
		</small>
	</div>
</div>
