<div class="pronostics">
	<div class="head text-center">
		<h2>{{ 'HOME_C_FAITES' | translate }}</h2>
		<h2>{{prConf.contextTypes[prConf.currentContext] | translate }}</h2>
	</div>
	<div class="row pools text-center" ng-show="prConf.currentContext === 'pools'">
		<a ng-click="currentPool = 'pool1'" class="btn btn-wc btn-xs">1<sup>{{ 'FIRST' | translate }}</sup> {{ 'MATCH' | translate }}</a>
		<a ng-click="currentPool = 'pool2'" class="btn btn-wc btn-xs">2<sup>{{ 'SECOND' | translate }}</sup> {{ 'MATCH' | translate }}</a>
		<a ng-click="currentPool = 'pool3'" class="btn btn-wc btn-xs">3<sup>{{ 'THIRD' | translate }}</sup> {{ 'MATCH' | translate }}</a>
	</div>


	<form role="form" ng-submit="submitPronositc()">
		<div class="matches by-group row" ng-if="prConf.currentContext === 'pools'" ng-repeat="(groupName, g) in matchesByGroup">
			<h5 class="col-sm-offset-2">{{ 'GROUP' | translate }} {{groupName}}</h5>
			<div ng-hide="disablePronostic(match, $index)"  class="match col-sm-12" ng-repeat="match in g">
				<div class="col-sm-2 datetime">
					{{match.rawDate | date:'dd/MM'}} - {{match.rawDate | date:'HH:mm'}}
				</div>
				<div class="col-sm-9 teams">
					<div class="team col-sm-6">
						<div class="flag" ng-style="{'background-image': 'url(/images/countries/' + match.team1.cca3.toLowerCase() + '.svg)'}"></div>
						<span class="name">{{match.team1.translations[$translate.use()] || match.team1.name}}</span>
						<input ng-disabled="disablePronostic(match, $index)" ng-model="match.scorePronostic1" type="number" min="0">
					</div>
					<div class="team col-sm-6">
						<div class="flag" ng-style="{'background-image': 'url(/images/countries/' + match.team2.cca3.toLowerCase() + '.svg)'}"></div>
						<span class="name">{{match.team2.translations[$translate.use()] || match.team2.name }}</span>
						<input ng-disabled="disablePronostic(match, $index)" ng-model="match.scorePronostic2" type="number" min="0">
					</div>
				</div>
			</div>
		</div>

		<div class="matches row" ng-if="prConf.currentContext !== 'pools'">
			<h5 class="col-sm-offset-2">LES RENCONTRES</h4>
				<div ng-hide="disablePronostic(match, $index)" class="match col-sm-12" ng-repeat="match in prConf[contextPtr].matches">
					<div class="col-sm-2 datetime">
						{{match.rawDate | date:'dd/MM'}} - {{match.rawDate | date:'HH:mm'}}
					</div>
					<div class="col-sm-9 teams">
						<div class="team col-sm-6">
							<div class="flag" ng-style="{'background-image': 'url(/images/countries/' + match.team1.cca3.toLowerCase() + '.svg)'}"></div>
							<span class="name">{{match.team1.translations.fr}}</span>
							<input ng-disabled="disablePronostic(match, $index)" ng-model="match.scorePronostic1" type="number" min="0">
						</div>
						<div class="team col-sm-6">
							<div class="flag" ng-style="{'background-image': 'url(/images/countries/' + match.team2.cca3.toLowerCase() + '.svg)'}"></div>
							<span class="name">{{match.team2.translations.fr}}</span>
							<input ng-disabled="disablePronostic(match, $index)" ng-model="match.scorePronostic2" type="number" min="0">
						</div>
					</div>
				</div>
			</div>


			<div class="row text-center">
			<div ng-class="{'alert-success': message === 'SUCCESS', 'alert-error': message === 'ERROR'}" ng-show="showMessage" class="alert alert-dismissable">
			<button ng-click="showMessage = false" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{message | translate}}
			</div>
				<button type="submit" class="btn btn-wc col-sm-4 col-sm-offset-4">{{ 'HOME_C_VALIDEZ' | translate }}</button>
			</div>
		</form>

		<div class="rules row">
			<div class="col-sm-6">
				<h4>{{ 'RULES_TITLE' | translate }} 	</h4>
				<p>{{ 'RULE_1' | translate }}</p>
				<p>{{ 'RULE_2' | translate }}</p>
			</div>
			<div class="col-sm-6">
				<p>{{ 'RULE_3' | translate }}</p>
				<p>{{ 'RULE_4' | translate }}</p>
			</div>
		</div>

</div>
