<div class="rankings">
	<div class="head text-center">
		<h2>{{ 'CLASSEMENT' | translate | uppercase }}</h2>
	</div>
	<div class="my-results text-center">
		<div class="head">
			<div class="col-sm-2 col-xs-2">
				CLT
			</div>
			<div class="col-sm-5 col-xs-5">
				{{ 'PLAYER' | translate }}
			</div>
			<div class="col-sm-3 col-xs-3">
				{{ 'COMPANY' | translate | uppercase }}
			</div>
			<div class="col-sm-2 col-xs-2">
				{{ 'POINTS' | translate}}
			</div>
		</div>
		<div class="content">
			<div class="col-sm-2 col-xs-2">
				{{currentUser.ranking}}.
			</div>
			<div class="col-sm-5 col-xs-5">
				{{ 'ME' | translate }}
			</div>
			<div class="col-sm-3 col-xs-3">
				{{user.company}}
			</div> 
			<div class="col-sm-2 col-xs-2">
				{{user.score}} Pt.
			</div>
		</div>
	</div>


	<div rankings class="ranking-list text-center">
		<ul>
			<li ng-repeat="user in allUsers | orderBy:'-score'">
				<div class="col-sm-2 col-xs-2">
					{{$index + 1}}.
				</div>
				<div class="col-sm-5 col-xs-5">
					{{user.firstname}} .{{user.lastname[0] | uppercase}}
				</div>
				<div class="col-sm-3 col-xs-3">
					{{user.company}}
				</div>
				<div class="col-sm-2 col-xs-2">
					{{user.score}} Pt.
				</div>
			</li>
			
		</ul>
	</div>

		<div class="rules row">
			<div class="col-sm-6">
				<h4>{{ 'RULES_TITLE' | translate }} 	</h4>
				<p>{{ 'RULE_1' | translate }}</p>
				<p>{{ 'RULE_2' | translate }}</p>
			</div>
			<div class="col-sm-6">
				<p>{{ 'RULE_3' | translate }}</p>
				<p>{{ 'RULE_4' | translate }}</p>
			</div>
		</div>
</div>
