<div class="results">
	<div class="my-results text-center">
		<div class="head">
			<div class="col-sm-2 col-xs-2">
				CLT
			</div>
			<div class="col-sm-5 col-xs-4">
				{{ 'PLAYER' | translate }}
			</div>
			<div class="col-sm-3 col-xs-3">
				{{ 'COMPANY' | translate | uppercase }}
			</div>
			<div class="col-sm-2 col-xs-3">
				{{ 'POINTS' | translate }}
			</div>
		</div>
		<div class="content">
			<div class="col-sm-2 col-xs-2">
				{{currentUser.ranking}}.
			</div>
			<div class="col-sm-5 col-xs-5">
				{{ 'ME' | translate }}
			</div>
			<div class="col-sm-3 col-xs-3">
				{{user.company}}
			</div> 
			<div class="col-sm-2 col-xs-2">
				{{user.score}} Pt.
			</div>
		</div>
	</div>

	<div class="sections">
		<div class="row text-center">
			<div ng-click="currentContext = 'pool1'" class="btn btn-wc">1<sup>{{ 'FIRST' | translate }}</sup> {{ 'MATCH' | translate }}</div>
			<div ng-click="currentContext = 'pool2'" class="btn btn-wc">2<sup>{{ 'SECOND' | translate }}</sup> {{ 'MATCH' | translate }}</div>
			<div ng-click="currentContext = 'pool3'" class="btn btn-wc">3<sup>{{ 'THIRD' | translate }}</sup> {{ 'MATCH' | translate }}</div>
		</div>
		<div class="row text-center">
			<div ng-click="currentContext = 'round16'" class="btn btn-wc">{{'RESULTAT_8e' | translate }}</div>
			<div ng-click="currentContext = 'quarter'" class="btn btn-wc">{{'RESULTAT_4' | translate }}</div>
			<div ng-click="currentContext = 'semi'" class="btn btn-wc">{{'RESULTAT_2' | translate }}</div>
			<div ng-click="currentContext = 'finale'" class="btn btn-wc">{{'RESULTAT_finale' | translate }}</div>
		</div>
	</div>
	<br>
	<table class="table all-results">
		<thead>
			<tr>
				<td>{{'RESULTAT_mespronos' | translate }}</td>
				<td>{{ 'RESULTAT_issue' | translate }}</td>
				<td>{{'RESULTAT_pts' | translate }}</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="showPronostic(match, $index)" ng-repeat="match in currentUser.pronostics[currentContext].matches">
				<td cl class="teams">
					
					<div class="teams">
						<div class="team col-sm-6">
							<div class="flag" ng-style="{'background-image': 'url(/images/countries/' + match.team1.cca3.toLowerCase() + '.svg)'}"></div>
							<span class="name hidden-xs">{{match.team1.translations[$translate.use()] || match.team1.name}}</span>
							<input disabled type="number" value="{{match.scorePronostic1}}" min="0">
						</div>
						<div class="team col-sm-6">
							<div class="flag" ng-style="{'background-image': 'url(/images/countries/' + match.team2.cca3.toLowerCase() + '.svg)'}"></div>
							<span class="name hidden-xs">{{match.team2.translations[$translate.use()] || match.team2.name}}</span>
							<input disabled type="number" value="{{match.scorePronostic2}}" min="0">
						</div>
					</div>
				</td>
				<td class="match-result text-center">
					<div>
						<span class="win">{{contextPtr.matches[$index].score1}}</span>
						<span>-</span>
						<span>{{contextPtr.matches[$index].score2}}</span>
					</div>
				</td>
				<td class="score text-center">
					<span ng-class="{positive: match.userScore > 0, negative: match.userScore < 0}">
						{{match.userScore | score}}
					</span>
				</td>
			</tr>
<!-- 			<tr>
			<td cl class="teams">
				
				<div class="teams">
					<div class="team col-sm-6">
						<div class="flag" ng-style="{'background-image': 'url(/images/countries/bra.svg)'}"></div>
						<span class="name">Bresil</span>
						<input type="number" value="0" min="0">
					</div>
					<div class="team col-sm-6">
						<div class="flag" ng-style="{'background-image': 'url(/images/countries/hrv.svg)'}"></div>
						<span class="name">Croatie</span>
						<input type="number" value="0" min="0">
					</div>
				</div>
			</td>
			<td class="match-result text-center">
				<div>
					<span>1</span>
					<span>-</span>
					<span class="win">2</span>
				</div>
			</td>
			<td class="score text-center">
				<span class="negative">
					-8
				</span>
			</td>
		</tr>
		 -->		</tbody>
	</table>

		<div class="rules row">
			<div class="col-sm-6">
				<h4>{{ 'RULES_TITLE' | translate }} 	</h4>
				<p>{{ 'RULE_1' | translate }}</p>
				<p>{{ 'RULE_2' | translate }}</p>
			</div>
			<div class="col-sm-6">
				<p>{{ 'RULE_3' | translate }}</p>
				<p>{{ 'RULE_4' | translate }}</p>
			</div>
		</div>


</div>
