<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/perfect-scrollbar/min/perfect-scrollbar-0.4.10.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/perfect-scrollbar/min/perfect-scrollbar-0.4.10.min.css">
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <!-- endbuild -->
  </head>
  <body xmlns:ng="http://angularjs.org" ng-app="worldcupApp" ng-class="{pronostic: isPronostic}" id="ng-app">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header ng-show="isPronostic">
        <!-- <div ng-include="'partials/navbar'"></div> -->
        <div class="header" ng-controller="NavbarCtrl">
            <div class="title">
                <span>{{ 'MENU_LOGO_1' | translate }}</span>
                <span>{{ 'MENU_LOGO_2' | translate }}</span>
            </div>
            <ul class="nav navbar-nav navbar-left" ng-show="isPronostic()">
                <li><a class="btn btn-wc" href="/pronostic/pronostics"><img class="hidden-sm hidden-md hidden-lg" src="/images/header-ball.png" alt="">{{ 'MENU_PRONOS' | translate }}</a></li>
                <li><a class="btn btn-wc" href="/pronostic/results"><img class="hidden-sm hidden-md hidden-lg" src="/images/results-nav-logo.png" alt="">{{ 'MENU_RESULTATS' | translate }}</a></li>
                <li><a class="btn btn-wc" href="/pronostic/ranking"><img class="hidden-sm hidden-md hidden-lg" src="/images/ranking-nav-logo.png" alt="">{{ 'CLASSEMENT' | translate }}</a></li>
                <li><a class="btn btn-wc" href="/pronostic/prize"><img class="hidden-sm hidden-md hidden-lg" src="/images/prize-nav-logo.png" alt="">{{ 'MENU_GAGNEZ' | translate }}</a></li>
            </ul>
</div>
    </header>
    <div ng-class="{container: !isAdmin, 'container-fluid': isAdmin}" ng-view=""></div>
    <footer ng-show="isPronostic" class="hidden-xs">
        <div ng-include="'partials/footer'"></div>      
    </footer>
    <div class="hub-footer" ng-show="!isPronostic">
        <img src="/images/hub-footer.png" alt="">
    </div>


    <!--[if lte IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
     <script>
          document.createElement('ng-include');
          document.createElement('ng-pluralize');
          document.createElement('ng-view');

        </script>
    <![endif]-->


    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/perfect-scrollbar/min/perfect-scrollbar-0.4.10.min.js"></script>
    <script src="bower_components/perfect-scrollbar/min/perfect-scrollbar-0.4.10.with-mousewheel.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/ng-facebook/ngFacebook.js"></script>
    <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/settings.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/directives/mongooseError.js"></script>
        <script src="scripts/controllers/message.js"></script>
        <script src="scripts/controllers/pronostic/home.js"></script>
        <script src="scripts/controllers/admin.js"></script>
        <script src="scripts/services/pronostic.js"></script>
        <script src="scripts/controllers/activate.js"></script>
        <script src="scripts/services/countries.js"></script>
        <script src="scripts/controllers/pronostic/pronostics.js"></script>
        <script src="scripts/controllers/pronostic/results.js"></script>
        <script src="scripts/controllers/pronostic/ranking.js"></script>
        <script src="scripts/controllers/pronostic/prize.js"></script>
        <script src="scripts/filters/translate.js"></script>
        <script src="scripts/filters/score.js"></script>
        <script src="scripts/directives/rankings.js"></script>
        <!-- endbuild -->
</body>
</html>
